main {
    padding: 16px
}

header {

    border: solid;
    border-bottom-width: 1px black;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width:0px;
    background-color: orangered;




}

h3 {
    color: green;
    text-decoration: none;
}

footer {
    padding-bottom: 24px;
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 0px;
    background-color: #B4CF66;
    font-weight: medium;

}



img {
    width: 200px;
}

nav {
    border-bottom: 1px black;
    padding: 16px;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-bottom: 28px;



}

h1 {
    color: darkgreen;
}

ol {

    padding-bottom: 28px;
}


td td:nth-child(even){
    background-color: light grey;

}




.link {
    color: green;
    text-decoration: none;
}

.mainlink {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.tabletitle {
    font-weight: bold;
    color: black;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

table, th, td {

    padding: 1px;
    padding-right: 10px;
    border: 2px solid white;
}

tr:nth-child(even) {

    background-color: lightgray;

}
